:host {
  --invalid-color: #df1b41;
  --secondary-color: #6d6e78;
}

.fields {
  gap: 12px;
}

#picker {
  gap: 12px;
  margin-bottom: 12px;
}

.konbini,#picker {
  justify-content: flex-start;
}

.radio {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  border-radius: 5px;
  border: 1px solid rgba(10, 10, 10, 0.12);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);

  color: #30313d;
  font-weight: 500;
  font-size: 0.875rem;

  width: 11.25rem;
  padding: 0.75rem;
  gap: 2px;

  cursor: pointer;

  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#picker .radio {
  width: 9rem;
}

.radio input {
  position: absolute;
  opacity: 0;
}

.radio:hover {
  background-color: rgb(250, 250, 250);
}

.radio:active {
  background-color: rgb(240, 240, 240);
}

.radio.checked {
  border-color: #0570de;
}

.field input {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03), 0px 3px 6px rgba(0, 0, 0, 0.02);
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  padding: 0.75rem;
}
